@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Intact Insurace</h1>
    <p class="lead">Auto insurance made simple</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Start a quote</h2>
        <p>
            Enter the following information for a auto quote. 
        </p>
        <p><a class="btn btn-default" href="~/Insuree/Create">Submit &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Feel free to give us a call</h2>
        <p><a class="btn btn-default" href="~/Home/Contact">Contact &raquo;</a></p>
    </div>
    
</div>